@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Ruge+Boogie&display=swap');

body {
  background: #ffcee7;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(53, 53, 53);
}

.title {
  font-size: 10em;
  text-align: center;
  font-family: "Courgette", cursive;
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

/* Biology button styles */
.button.biologyButton {
  background-color: #06D6A0;  /* You can customize each button's color here */
}

.button.biologyButton:hover {
  background-color: #04b583; /* Hover effect for biology button */
}

/* Calculator button styles */
.button.calculatorButton {
  background-color: #ff7f50;
}

.button.calculatorButton:hover {
  background-color: #e66736;
}

/* Compiler button styles */
.button.compilerButton {
  background-color: #1e90ff;
}

.button.compilerButton:hover {
  background-color: #1c7ce0;
}

/* DNA button styles */
.button.dnaButton {
  background-color: #8a2be2;
}

.button.dnaButton:hover {
  background-color: #7b25d1;
}

/* Dome button styles */
.button.domeButton {
  background-color: #ff6347;
}

.button.domeButton:hover {
  background-color: #e04c32;
}

/* Monitor button styles */
.button.computerButton {
  background-color: #ffb6c1;
}

.button.computerButton:hover {
  background-color: #e599b0;
}

/* Shuttle button styles */
.button.shuttleButton {
  background-color: #ffa500;
}

.button.shuttleButton:hover {
  background-color: #e59400;
}

/* Test button styles */
.button.testButton {
  background-color: #32cd32;
}

.button.testButton:hover {
  background-color: #28b828;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}